@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* CARD */
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    text-align: left;
}

/* PRODUCT IMAGE */
.parfum-img-desktop {
    display: none;
}

.parfum-img-mobile {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: auto;
}

/* PRODUCT INFORMATION SECTION */
.info {
    padding: 0 1rem 1rem 1rem;
}


/* CATEGORY */
.perfume {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
}

/* PRODUCT NAME */
.perfume-name {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
}

/* PRODUCT DESCRIPTION */
p {
    color: hsl(228, 12%, 48%);
    display: block;
    font-size: 14px;
}

/* PRODUCT PRICE */
.price {
    color: hsl(158, 36%, 37%);
    display: inline-block;
    font-family: 'Fraunces', sans-serif;
    width: fit-content;
}

.old-price {
    color: hsl(228, 12%, 48%);
    display: inline-block;
    font-weight: 500;
    margin-left: 1rem;
    text-decoration: line-through;
    width: fit-content;
}

/* BUTTON */
button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
    display: block;
    font-weight: 700;
    margin: 1rem 0;
    padding: 0.8rem;
    width: 100%
}

.cart {
    display: inline-block;
    padding-right: 1rem ;
}

/* COPY RIGHTS */
.attribution {
    font-weight: 500;
    margin-top: 3rem;
}


@media (min-width: 800px) {

/* CARD */
.card {
    border-radius: 1rem;
    display: inline-block;
    margin-top: 5rem;
    text-align: left;
}

/* PRODUCT IMAGE */
.parfum-img-desktop {
    display: block;
    border-radius: 1rem 0 0 1rem;
    float: left;
    padding-right: 2rem;
    width: 50%;
}

.parfum-img-mobile {
    display: none;
}

/* PRODUCT INFORMATION SECTION */
.info {
    margin: 1rem;
}

/* CATEGORY */
.perfume {
    margin-top: 5rem;
}

/* PRODUCT NAME */
.perfume-name {
    display: inline-block;
    width: 40%;
}

/* PRODUCT DESCRIPTION */
p {
    margin: 5rem 0;
    padding-right: 2rem;
}

/* BUTTON */
button {
    margin: 1rem;
    width: 45%;
}

button:hover {
    background-color: hsl(159, 75%, 11%);
    cursor: pointer;
}

}